{"http_interactions":[{"request":{"method":"get","uri":"http://api.nytimes.com/svc/topstories/v1/home.json?api-key=b153eb5a98da885cf337dba80557ac1b:14:71760602","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Mashery-Responder":["prod-j-worker-atl-02.mashery.com"], "X-Amz-Request-Id":["5929A78D2895BC16"], "Last-Modified":["Sat, 04 Apr 2015 23:10:04 GMT"], "Etag":["\"62478a62b4cf62d8b18c278906bcda8a\""], "Content-Type":["text/json"]},"body":{"encoding":"UTF-8","string":"{\"status\":\"OK\",\"copyright\":\"Copyright (c) 2015 The New York Times Company. All Rights Reserved.\",\"last_updated\":\"2015-04-04T19:10:03-05:00\",\"num_results\":16,\"results\":[{\"section\":\"U.S.\",\"subsection\":\"\",\"title\":\"California Drought Tests History of Endless Growth\",\"abstract\":\"The state\u0026#8217;s history as a frontier of prosperity and glamour faces an uncertain future as the fourth year of severe shortages prompts Gov. Jerry Brown to mandate a 25 percent reduction in non-agricultural water use.\",\"url\":\"http:\\/\\/www.nytimes.com\\/2015\\/04\\/05\\/us\\/california-drought-tests-history-of-endless-growth.html\",\"byline\":\"By ADAM NAGOURNEY, JACK HEALY and NELSON D. SCHWARTZ\",\"item_type\":\"Article\",\"updated_date\":\"2015-04-04T14:29:37-5:00\",\"created_date\":\"2015-04-04T14:29:39-5:00\",\"published_date\":\"2015-04-05T04:00:00-5:00\",\"material_type_facet\":\"News\",\"kicker\":\"\",\"des_facet\":[\"Drought\",\"Conservation of Resources\"],\"org_facet\":\"\",\"per_facet\":\"\",\"geo_facet\":[\"California\"],\"multimedia\":[{\"url\":\"http:\\/\\/static01.nyt.com\\/images\\/2015\\/04\\/05\\/us\\/05DROUGHTtop\\/05DROUGHTtop-thumbStandard.jpg\",\"format\":\"Standard Thumbnail\",\"height\":75,\"width\":75,\"type\":\"image\",\"subtype\":\"photo\",\"caption\":\"Homes in Rancho Mirage, Calif., in the Coachella Valley. Gov. Jerry Brown has ordered a 25 percent statewide reduction in non-agricultural water use.\",\"copyright\":\"Damon Winter\\/The New York Times\"},{\"url\":\"http:\\/\\/static01.nyt.com\\/images\\/2015\\/04\\/05\\/us\\/05DROUGHTtop\\/05DROUGHTtop-thumbLarge.jpg\",\"format\":\"thumbLarge\",\"height\":150,\"width\":150,\"type\":\"image\",\"subtype\":\"photo\",\"caption\":\"Homes in Rancho Mirage, Calif., in the Coachella Valley. Gov. Jerr[...]
{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?address=California\u0026key=AIzaSyCHiFh2D38iOzi2v2wusrbwXyvZa9pmxVs","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["443:quic,p=0.5"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"California\",\n               \"short_name\" : \"CA\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"United States\",\n               \"short_name\" : \"US\",\n               \"types\" : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\" : \"California, USA\",\n         \"geometry\" : {\n            \"bounds\" : {\n               \"northeast\" : {\n                  \"lat\" : 42.0095169,\n                  \"lng\" : -114.131211\n               },\n               \"southwest\" : {\n                  \"lat\" : 32.5342321,\n                  \"lng\" : -124.4096196\n               }\n            },\n            \"location\" : {\n               \"lat\" : 36.778261,\n               \"lng\" : -119.4179324\n            },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\" : {\n                  \"lat\" : 42.0095169,\n                  \"lng\" : -114.131211\n               },\n               \"southwest\" : {\n                  \"lat\" : 32.5342321,\n                  \"lng\" : -124.4096196\n               }\n            }\n         },\n         \"place_id\" : \"ChIJPV4oX_65j4ARVW8IJ6IJUYs\",\n         \"types\" : [ \"administrative_area_level_1\", \"political\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"},"http_version":null},"recorded_at":"Sat, 04 Apr 2015 23:12:47 GMT"},[...]
{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?address=Israel\u0026key=AIzaSyCHiFh2D38iOzi2v2wusrbwXyvZa9pmxVs","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["443:quic,p=0.5"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"lon[...]
[...]
{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?address=Rwanda\u0026key=AIzaSyCHiFh2D38iOzi2v2wusrbwXyvZa9pmxVs","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["443:quic,p=0.5"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"lon[...]
[...]
{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?address=Olympia%20(Wash)\u0026key=AIzaSyCHiFh2D38iOzi2v2wusrbwXyvZa9pmxVs","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["443:quic,p=0.5"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n          [...]
[...]
{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?address=Kenya\u0026key=AIzaSyCHiFh2D38iOzi2v2wusrbwXyvZa9pmxVs","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["443:quic,p=0.5"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long[...]
[...]
{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?address=Indiana\u0026key=AIzaSyCHiFh2D38iOzi2v2wusrbwXyvZa9pmxVs","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["443:quic,p=0.5"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"lo[...]
[...]
{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?address=Belize\u0026key=AIzaSyCHiFh2D38iOzi2v2wusrbwXyvZa9pmxVs","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["443:quic,p=0.5"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"lon[...]
[...]
{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?address=New%20Jersey\u0026key=AIzaSyCHiFh2D38iOzi2v2wusrbwXyvZa9pmxVs","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["443:quic,p=0.5"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n              [...]
[...]
{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?address=Canada\u0026key=AIzaSyCHiFh2D38iOzi2v2wusrbwXyvZa9pmxVs","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["443:quic,p=0.5"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"lon[...]
[...]
{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?address=Iran\u0026key=AIzaSyCHiFh2D38iOzi2v2wusrbwXyvZa9pmxVs","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["443:quic,p=0.5"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_[...]
[...]
