{"http_interactions":[{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?address=indiana\u0026key=AIzaSyCHiFh2D38iOzi2v2wusrbwXyvZa9pmxVs","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["443:quic,p=0.5"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"Indiana\",\n               \"short_name\" : \"IN\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"United States\",\n               \"short_name\" : \"US\",\n               \"types\" : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\" : \"Indiana, USA\",\n         \"geometry\" : {\n            \"bounds\" : {\n               \"northeast\" : {\n                  \"lat\" : 41.7606971,\n                  \"lng\" : -84.784662\n               },\n               \"southwest\" : {\n                  \"lat\" : 37.7717419,\n                  \"lng\" : -88.097892\n               }\n            },\n            \"location\" : {\n               \"lat\" : 40.2671941,\n               \"lng\" : -86.1349019\n            },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\" : {\n                  \"lat\" : 41.7606971,\n                  \"lng\" : -84.784662\n               },\n               \"southwest\" : {\n                  \"lat\" : 37.7717419,\n                  \"lng\" : -88.097892\n               }\n            }\n         },\n         \"place_id\" : \"ChIJHRv42bxQa4gRcuwyy84vEH4\",\n         \"types\" : [ \"administrative_area_level_1\", \"political\" ]\n      },\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"Indiana\",\n               \"short_name\" : \"Indiana\",\n               \"types\" : [ \"locality\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"Indiana County\",\n               \"short_name\" : \"Indiana County\",\n               \"types\" : [ \"adm[...]
[...]
