{"http_interactions":[{"request":{"method":"get","uri":"http://api.nytimes.com/svc/topstories/v1/home.json?api-key=b153eb5a98da885cf337dba80557ac1b:14:71760602","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Mashery-Responder":["prod-j-worker-atl-04.mashery.com"], "X-Amz-Request-Id":["5558DC9A0CD0F31D"], "Last-Modified":["Wed, 01 Apr 2015 22:55:03 GMT"], "Etag":["\"5ee20a826b363ed56cb14704d0829c4d\""], "Content-Type":["text/json"]},"body":{"encoding":"UTF-8","string":"{\"status\":\"OK\",\"copyright\":\"Copyright (c) 2015 The New York Times Company. All Rights Reserved.\",\"last_updated\":\"2015-04-01T18:55:02-05:00\",\"num_results\":17,\"results\":[{\"section\":\"U.S.\",\"subsection\":\"\",\"title\":\"California Imposes Water Restrictions, in First for State\",\"abstract\":\"The move by Gov. Jerry Brown comes as California\\u2019s drought has reached near-crisis proportions after a winter that brought record-low snowfalls.\",\"url\":\"http:\\/\\/www.nytimes.com\\/2015\\/04\\/02\\/us\\/california-imposes-first-ever-water-restrictions-to-deal-with-drought.html\",\"byline\":\"By ADAM NAGOURNEY\",\"item_type\":\"Article\",\"updated_date\":\"2015-04-01T17:21:10-5:00\",\"created_date\":\"2015-04-01T15:05:36-5:00\",\"published_date\":\"2015-04-02T04:00:00-5:00\",\"material_type_facet\":\"News\",\"kicker\":\"\",\"des_facet\":[\"Water\"],\"org_facet\":\"\",\"per_facet\":[\"Brown, Edmund G Jr\"],\"geo_facet\":[\"California\"],\"multimedia\":\"\"},{\"section\":\"N.Y. \\/ Region\",\"subsection\":\"\",\"title\":\"Senator Menendez Indicted on Federal Corruption Charges\",\"abstract\":\"Senator Robert Menendez of New Jersey is accused of bribery, conspiracy, fraud and making false statements on government documents.\",\"url\":\"http:\\/\\/www.nytimes.com\\/2015\\/04\\/02\\/nyregion\\/senator-robert-menendez-indicted-on-corruption-charges.html\",\"byline\":\"By MATT APUZZO\",\"item_type\":\"Article\",\"updated_date\":\"2015-04-01T18:13:01-5:00\",\"created_date\":\"2015-04-01T16:04:56-5:00\",\"published_date\":\"2015-04-02T04:00:00-5:00\",\"material_type_facet\":\"News\",\"kicker\":\"\",\"des_facet\":[\"Ethics and Official Misconduct\"],\"org_facet\":[\"Senate\"],\"per_facet\":[\"Menendez, Robert\",\"Melgen, Salomon E\"],\"geo_facet\":[\"New Jersey\"],\"multimedia\":[{\"url\":\"http:\\/\\/static01.nyt.com\\/images\\/2015\\/04\\/02\\/nyregion\\/MENENDEZweb1\\/MENENDEZweb1-thumbStandard.jpg\",\"format\":\"Standard Thumbnail\",\"height\":75,\"width\":75,\"type\":\"image\",\"subtype\":\"photo\",\"caption\":\"Senator Robert Menendez, Democrat of New Jersey, on Thursday. Mr. Menendez has promised to fight the charges.\",\"copyright\":\"Win Mcnamee\\/Getty Images\"},{\"url\":\"http:\\/\\/static01.nyt.com\\/images\\/2015\\/04\\/02\\/nyregion\\/MENENDEZweb1\\/MENENDEZweb1-thumbLarge.jpg\",\"format\":\"thumbLarge\",\"height\":150,\"width\":150,\"type\":\"image\",\"subtype\":\"photo\",\"caption\":\"Senator Robert Menendez, Democrat of New Jersey, on Thursday. Mr. Menendez has promised to fight the charge[...]
