{"http_interactions":[{"request":{"method":"get","uri":"http://api.nytimes.com/svc/topstories/v1/home.json?api-key=b153eb5a98da885cf337dba80557ac1b:14:71760602","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Mashery-Responder":["prod-j-worker-atl-04.mashery.com"], "X-Amz-Request-Id":["17B66471A1E8BE8D"], "Last-Modified":["Sun, 05 Apr 2015 20:05:03 GMT"], "Etag":["\"ba1718708e11190bebc93f37bce04e61\""], "Content-Type":["text/json"]},"body":{"encoding":"UTF-8","string":"{\"status\":\"OK\",\"copyright\":\"Copyright (c) 2015 The New York Times Company. All Rights Reserved.\",\"last_updated\":\"2015-04-05T16:05:02-05:00\",\"num_results\":17,\"results\":[{\"section\":\"U.S.\",\"subsection\":\"\",\"title\":\"California Drought Tests History of Endless Growth\",\"abstract\":\"A punishing drought is forcing a reconsideration of whether the aspiration of untrammeled growth that has for so long been the state\\u2019s engine has run against the limits of nature.\",\"url\":\"http:\\/\\/www.nytimes.com\\/2015\\/04\\/05\\/us\\/california-drought-tests-history-of-endless-growth.html\",\"byline\":\"By ADAM NAGOURNEY, JACK HEALY and NELSON D. SCHWARTZ\",\"item_type\":\"Article\",\"updated_date\":\"2015-04-04T14:29:37-5:00\",\"created_date\":\"2015-04-04T14:29:39-5:00\",\"published_date\":\"2015-04-05T04:00:00-5:00\",\"material_type_facet\":\"News\",\"kicker\":\"\",\"des_facet\":[\"Drought\",\"Conservation of Resources\"],\"org_facet\":\"\",\"per_facet\":\"\",\"geo_facet\":[\"California\"],\"multimedia\":[{\"url\":\"http:\\/\\/static01.nyt.com\\/images\\/2015\\/04\\/05\\/us\\/05DROUGHTtop\\/05DROUGHTtop-thumbStandard.jpg\",\"format\":\"Standard Thumbnail\",\"height\":75,\"width\":75,\"type\":\"image\",\"subtype\":\"photo\",\"caption\":\"Homes in Rancho Mirage, Calif., in the Coachella Valley. Gov. Jerry Brown has ordered a 25 percent statewide reduction in non-agricultural water use.\",\"copyright\":\"Damon Winter\\/The New York Times\"},{\"url\":\"http:\\/\\/static01.nyt.com\\/images\\/2015\\/04\\/05\\/us\\/05DROUGHTtop\\/05DROUGHTtop-thumbLarge.jpg\",\"format\":\"thumbLarge\",\"height\":150,\"width\":150,\"type\":\"image\",\"subtype\":\"photo\",\"caption\":\"Homes in Rancho Mirage, Calif., in the Coachella Valley. Gov. Jerr[...]
