{"http_interactions":[{"request":{"method":"get","uri":"http://api.nytimes.com/svc/topstories/v1/home.json?api-key=b153eb5a98da885cf337dba80557ac1b:14:71760602","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Mashery-Responder":["prod-j-worker-atl-03.mashery.com"], "X-Amz-Request-Id":["9E699057AE00646F"], "Last-Modified":["Sat, 04 Apr 2015 18:00:03 GMT"], "Etag":["\"ed88af96f947875420bdb6a47d5466fb\""], "Content-Type":["text/json"]},"body":{"encoding":"UTF-8","string":"{\"status\":\"OK\",\"copyright\":\"Copyright (c) 2015 The New York Times Company. All Rights Reserved.\",\"last_updated\":\"2015-04-04T14:00:02-05:00\",\"num_results\":19,\"results\":[{\"section\":\"World\",\"subsection\":\"Middle East\",\"title\":\"A Nuclear Deal Built on Coffee, Compromise and No Sleep\",\"abstract\":\"In hashing out one of the hardest-to-negotiate arms control agreements in history, Iran and the United States took a simple approach: stay in the same hotel room until they figure out how to get along.\",\"url\":\"http:\\/\\/www.nytimes.com\\/2015\\/04\\/04\\/world\\/middleeast\\/an-iran-nuclear-deal-built-on-coffee-all-nighters-and-compromise.html\",\"byline\":\"By DAVID E. SANGER and MICHAEL R. GORDON\",\"item_type\":\"Article\",\"updated_date\":\"2015-04-03T21:49:36-5:00\",\"created_date\":\"2015-04-03T21:49:40-5:00\",\"published_date\":\"2015-04-04T04:00:00-5:00\",\"material_type_facet\":\"News\",\"kicker\":\"\",\"des_facet\":[\"Nuclear Weapons\",\"United States International Relations\"],\"org_facet\":\"\",\"per_facet\":[\"Khamenei, Ali\",\"Obama, Barack\"],\"geo_facet\":[\"Iran\",\"United States\"],\"multimedia\":[{\"url\":\"http:\\/\\/static01.nyt.com\\/images\\/2015\\/04\\/04\\/world\\/RECONSTRUCT\\/RECONSTRUCT-thumbStandard.jpg\",\"format\":\"Standard Thumbnail\",\"height\":75,\"width\":75,\"type\":\"image\",\"subtype\":\"photo\",\"caption\":\"John Kerry and his counterpart, Mohammad Javad Zarif.\",\"copyright\":\"Laurent Gillieron\\/European Pressphoto Agency\"},{\"url\":\"http:\\/\\/static01.nyt.com\\/images\\/2015\\/04\\/04\\/world\\/RECONSTRUCT\\/RECONSTRUCT-thumbLarge.jpg\",\"format\":\"thumbLarge\",\"height\":150,\"width\":150,\"type\":\"image\",\"subtype\":\"photo\",\"caption\":\"John Kerry and his counterpart, Mohammad Javad Zarif.\",\"copyright\":\"Laurent Gillieron\\/European Pressphoto Agency\"},{\"url\":\"http:\\/\\/stat[...]
