{"http_interactions":[{"request":{"method":"get","uri":"http://api.nytimes.com/svc/topstories/v1/home.json?api-key=b153eb5a98da885cf337dba80557ac1b:14:71760602","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Mashery-Responder":["prod-j-worker-atl-02.mashery.com"], "X-Amz-Request-Id":["B50F255E76B74581"], "Last-Modified":["Tue, 07 Apr 2015 20:25:03 GMT"], "Etag":["\"0119353693afcb124a6e0c7ad25f5500\""], "Content-Type":["text/json"]},"body":{"encoding":"UTF-8","string":"{\"status\":\"OK\",\"copyright\":\"Copyright (c) 2015 The New York Times Company. All Rights Reserved.\",\"last_updated\":\"2015-04-07T16:25:02-05:00\",\"num_results\":18,\"results\":[{\"section\":\"U.S.\",\"subsection\":\"Politics\",\"title\":\"Vowing to Fight \\u2018Washington Machine,\\u2019 Paul Says He\\u2019ll Run\",\"abstract\":\"Senator Rand Paul of Kentucky, with a fiercely libertarian and conservative worldview, aims to disprove those in his own party who doubt he can be a serious contender.\",\"url\":\"http:\\/\\/www.nytimes.com\\/2015\\/04\\/08\\/us\\/politics\\/rand-paul-republican-presidential-nomination.html\",\"byline\":\"By JEREMY W. PETERS and ALAN RAPPEPORT\",\"item_type\":\"Article\",\"updated_date\":\"2015-04-07T12:51:10-5:00\",\"created_date\":\"2015-04-07T07:56:28-5:00\",\"published_date\":\"2015-04-08T04:00:00-5:00\",\"material_type_facet\":\"News\",\"kicker\":\"\",\"des_facet\":[\"Presidential Election of 2016\"],\"org_facet\":\"\",\"per_facet\":[\"Paul, Rand\"],\"geo_facet\":\"\",\"multimedia\":[{\"url\":\"http:\\/\\/static01.nyt.com\\/images\\/2015\\/04\\/08\\/us\\/elections\\/08RAND-ANNOUNCE-web-sub-2\\/08RAND-ANNOUNCE-web-sub-2-thumbStandard.jpg\",\"format\":\"Standard Thumbnail\",\"height\":75,\"width\":75,\"type\":\"image\",\"subtype\":\"photo\",\"caption\":\"Senator Rand Paul formally announced his candidacy for president.\",\"copyright\":\"William DeShazer for The New York Times\"},{\"url\":\"http:\\/\\/static01.nyt.com\\/images\\/2015\\/04\\/08\\/us\\/elections\\/08RAND-ANNOUNCE-web-sub-2\\/08RAND-ANNOUNCE-web-sub-2-thumbLarge.jpg\",\"format\":\"thumbLarge\",\"height\":150,\"width\":150,\"type\":\"image\",\"subtype\":\"photo\",\"caption\":\"Senator Rand Paul formally announced his candidacy for president.\",\"copyright\":\"William DeShazer for T[...]
